table i {
    padding: 0 8px;
}

table tbody td i {
    visibility: hidden;
}

table tbody td:hover i {
    visibility: visible;
    cursor: pointer;
}

table a {
    color: black;
    text-decoration: none;
}