<div class="container">
    <div class="py-2 px-3 my-4" [style]="{background:'lightgrey'}">
      <h2>
        <i class="fa fa-user me-2" aria-hidden="true"></i>Edit customer</h2>
    </div>
    <form #f="ngForm" (ngSubmit)="onSub()" class="col-lg-6">
      <div class="row">
        <div class="col-lg-6">
          <label>*First name</label>
          <!-- [type] works like [ngModel] -->
          <input name="first" [ngModel]="user.first" #firstInput="ngModel" required [type]="typeInput" class="form-control mt-2" >
          <small *ngIf="firstInput.touched && firstInput.invalid" class="text-danger">* The first name is required</small>
        </div>
        <div class="col-lg-6">
          <label >*Last name</label>
          <input name="last" [ngModel]="user.last" #lastInput="ngModel" required [type]="typeInput" class="form-control mt-2" >
          <small *ngIf="lastInput.touched && lastInput.invalid" class="text-danger">* The last name is required</small>
        </div>
     
        <div class="col-lg-6 mt-3">
          <label>*Email</label>
          <input name="email" [ngModel]="user.email" #emailInput="ngModel" required email [type]="typeInput" class="form-control mt-2" >
          <small *ngIf="emailInput.touched && emailInput.invalid" class="text-danger">* Valid e-mail address is required</small>
        </div>
        <div class="col-lg-6 mt-3">
          <label>*Phone</label>
          <input name="phone" [ngModel]="user.phone" #phoneInput="ngModel" required minlength="5" type="tel" class="form-control mt-2" >
          <small *ngIf="phoneInput.touched && phoneInput.invalid" class="text-danger">* Valid phone number is required</small>
          
        </div>
        <div class="col-12 mt-3">
          <label  >Address</label>
          <textarea name="address" [ngModel]="user.address" #addressInput="ngModel" class="form-control" rows="2" [value]="user.address"></textarea>
        </div>
        <div class="col-12 mt-3">
          <label>Notes</label>
          <textarea name="notes" [ngModel]="user.notes" #notesInput="ngModel" class="form-control" rows="4"></textarea>
        </div>
      </div>
      <div class="mt-5 d-flex justify-content-between">
        <a routerLink="/admin" class="btn btn-dark me-2">Cancel</a>
        <button class="btn btn-warning">Update</button>
      </div>
    </form>
  </div>